.featured-media img {
    width: 100%;
}

body {
    position: relative;
    min-width: 320px;
}

header {
    background-image: url(../images/bg-big.jpg);
    .container {
        padding: 20px;
    }
    h1 {
        font-size: 30px;
        text-align: center;
        p {
            font-size: 20px;
        }
    }
    h2 {
        text-align: right;
        padding-right: 10%;
    }
}

nav {
    background-color: #242424!important;
    z-index: 99;
    width: 100%;
    padding-top: 86px;
    position: absolute;
    ul.navbar-nav {
        li>a {
            color: #fff !important;
        }
    }
}

.navbar-fixed-top {
    top: 0 !important;
}

section {
    margin-top: 35px!important;
    padding-top: 50px!important;
}

aside {
    padding: 0 15px;
}

article,
.link {
    padding: 20px 30px !important;
    background: #ffffff;
    margin-bottom: 35px!important;
    box-shadow: 1px 1px 4px #777;
}

.pagination {
    margin-bottom: 35px;
    text-align: center;
    display: block;
    span {
        color: #242424;
        background: #FED500;
        margin: 0 3px;
        display: inline-block;
        line-height: 36px;
        padding: 0 14px;
        border-radius: 2px;
    }
    a {
        display: inline-block;
        background: #FED500;
        border-radius: 2px;
        color: #242424;
        i {
            display: inline-block;
            width: 36px;
            height: 36px;
            line-height: 36px;
        }
    }
}